.font{
    background-image:url(../img/test-2.jpg);
    background-size: cover; /* Pour s'assurer que l'image couvre toute la page */
    background-position: center; /* Pour centrer l'image */
    height: 100vh; /* Pour que l'image prenne toute la hauteur de la fenêtre */
}

.titre{
    text-align: center;
    color: black;
    font-size: 40px;
}

.container{
    backdrop-filter: blur(15px);
    border: 2px solid whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.bouton {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ff6f61;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

